body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    flex-direction: column;
    background-color: aqua;
}


#canvas{
    background-color: rgb(255, 255, 255);
    width: 1000px;
height: 600px;
box-shadow: 0 0 1rem;
border: 4px solid black;

}
#tooltip{
    width: auto;
    height: auto;
    visibility: hidden;
}
h1{
    font-family: monospace;
    font-size: 3rem;

}
#legend{
    margin-top: 2rem;
    display: flex;
    font-weight: bold;
}
#tooltip{
    background-color: rgb(255, 255, 255);
    margin: 2rem;
    padding: 1rem;
    box-shadow: 0 0 2rem;
    border: 1px solid black;
}
.county:hover{
    fill: #fff;
}